.message {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;

  padding: 0.25rem 1rem;
  border-radius: 0.25rem;
}

.message:is(:hover, :focus) {
  background-color: var(--primary-750);
}

.message--full + .message--full {
  margin-top: 1.5rem;
}

.message--short + .message--full {
  margin-top: 1.5rem;
}

.message--short {
  padding-left: 4.5rem;
}

.message__time {
  display: none;
  justify-content: center;
  width: 3.125rem;

  color: var(--secondary-200);

  padding-top: 0.25rem;
}

.message--short:is(:hover, :focus) {
  padding-left: 1rem;
}

.message--short:is(:hover, :focus) .message__time {
  display: inherit;
}

.message > .avatar__wrap {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.message > p {
  max-width: 60%;
}

.message__pending {
  display: flex;
  justify-content: center;
  width: 3.125rem;
}

.message__content {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  max-width: 40rem;
}

.message__info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.message__info > h6 {
  color: var(--secondary-100);
  cursor: pointer;
}

.message__info > h6:hover {
  text-decoration: underline;
}

.message__info > span {
  color: var(--secondary-200);
}

.message__content > p {
  width: 100%;
}

.message__content > p.text__emoji--1 {
  font-size: 4rem;
  line-height: 4.5rem;
}

.message__content > p.text__emoji--2 {
  font-size: 3rem;
  line-height: 3.5rem;
}

.message__content > p.text__emoji--3 {
  font-size: 2.5rem;
  line-height: 3rem;
}

.message__content > p.text__emoji--4 {
  font-size: 1.5rem;
  line-height: 2rem;
}
