.files__viewer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 95rem;
  gap: 1rem;

  padding: 1rem;
}

.files__viewer--overlay {
  display: flex;
  align-items: center;
  justify-content: center;
}

.files__close {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.files__viewer > button,
.files__close {
  z-index: 1002;
  min-width: 4rem;
  min-height: 4rem;

  background-color: var(--primary-800);
  padding: 0;
  border-radius: 50%;
  cursor: pointer;
  z-index: 999;
  transition: opacity 0.2s ease;
}

.files__viewer > button:is(:hover, :focus),
.files__close:is(:hover, :focus) {
  opacity: 0.7;
}

.files__viewer > button > span,
.files__close > span {
  font-size: 2rem;
  color: var(--secondary-0);
}

.files__content {
  width: 100%;
  height: 100%;
  position: relative;
}

.files__content > img {
  object-fit: contain;
}
