.button__icon {
  background-color: transparent !important;
  padding: 0;
}

.button__icon > span {
  font-size: 1.5rem;
  color: var(--secondary-100);

  transition: color 0.3s ease;
}

.button__icon:is(:hover, :focus) > span {
  color: var(--secondary-200);
}
