.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 47rem;
  height: 100%;
  gap: 4rem;

  margin-top: 2rem;
  padding: 0 1rem;
}

.container > section {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1.5rem;
}

.container > section > p {
  letter-spacing: 0.03em;
}

ol {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

ol > li,
ul > li {
  margin-left: 1rem;
}

ol > li > ul,
li + li {
  margin-top: 0.25rem;
}

li > a {
  text-decoration: underline;
}
