* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  --primary-900: #191818;
  --primary-850: #212020;
  --primary-800: #2a2a2a;
  --primary-750: #393939;
  --primary-700: #454545;

  --secondary-0: #ffffff;
  --secondary-50: #eaeaea;
  --secondary-100: #d9d9d9;
  --secondary-150: #cfcfcf;
  --secondary-200: #c0c0c0;

  --success: #44cf6c;
  --danger: #ff220c;
  --info: #623cea;
}

html,
body {
  -webkit-font-smoothing: antialised;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  touch-action: manipulation;
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
}

body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  max-height: 100vh;

  color: var(--secondary-0);

  background-color: var(--primary-900);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;

  gap: 2.5rem;
}

body,
input,
textarea,
button,
label {
  font-family: "Nunito Sans", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.01em;
  outline: none;
}

a {
  color: var(--secondary-100);
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: justify;
  text-decoration: none;
  letter-spacing: 0.01em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
}

.title {
  font-size: 4.5rem;
  line-height: 5rem;
}

.header1 {
  font-size: 3.5rem;
  line-height: 4rem;
}

.header2 {
  font-size: 2.5rem;
  line-height: 3.5rem;
}

.header3 {
  font-size: 2rem;
  line-height: 2.5rem;
}

.header4 {
  font-size: 1.5rem;
  line-height: 2rem;
}

.text {
  font-size: 1rem;
  line-height: 1.5rem;
}

.description {
  font-size: 0.75rem;
  line-height: 1rem;
}

button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.75rem 2.5rem;
  gap: 0.5rem;

  color: var(--primary-900);
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.01em;

  background-color: var(--secondary-0);
  cursor: pointer;
  border: 0;
  border-radius: 0.25rem;
  transition: background-color 0.2s ease;
}

button:is(:hover, :focus) {
  background-color: var(--secondary-200);
}
