.files__indicators {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 40rem;

  gap: 0.5rem;
}

.file__indicator {
  width: 3.5rem;
  height: 3.5rem;
  position: relative;

  overflow: hidden;

  border: solid 2px var(--primary-900);
  border-radius: 0.5rem;
  cursor: pointer;
  transition: border-color 0.2s ease;
}

.file__indicator--active {
  border-color: var(--secondary-200);
}

.file__indicator > .remove__file {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.file__indicator > .remove__file > span {
  font-size: 1.25rem;
}

.file__indicator > img {
  object-fit: cover;
}

.file__indicator > .document__name {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  overflow: hidden;
  text-overflow: ellipsis;

  background-color: var(--primary-800);
}
