.messages {
  display: flex;
  flex-direction: column;
  width: 100%;

  overflow-y: scroll;
  scroll-behavior: smooth;

  margin-top: auto;
}

.messages--lock {
  overflow: hidden;
}

.messages > .loading__spin {
  margin: 0 auto;
  margin-bottom: 0.5rem;
}
