form {
  display: flex;
  flex-direction: column;
  width: 25rem;
  gap: 1.5rem;

  background-color: var(--primary-850);
  padding: 2rem;
  border-radius: 0.75rem;
}

form > h3 {
  text-align: center;
}

fieldset {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.75rem;

  border: none;
}

.form__label {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: var(--secondary-0);
}

.form__label > input {
  display: flex;
  width: 100%;

  color: var(--secondary-150);

  background-color: var(--primary-800);
  margin-top: 0.5rem;
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 0.5rem;
  outline: none;
}

form > a {
  text-align: center;
}

form > button[type="submit"] {
  padding: 1rem;
  border-radius: 0.5rem;
}

.form__checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  gap: 0.5rem;

  color: var(--secondary-0);
}

.form__checkbox > input {
  width: 0.85rem;
  height: 0.85rem;
  min-width: 0.85rem;
  min-height: 0.85rem;
}

.form__checkbox a {
  text-decoration: underline;
}

.label__error > input {
  border: solid var(--danger-500) thin;
}

.label__error .error__message {
  color: var(--secondary-150);
  font-weight: 400;
}

.photo__wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.photo__container {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  width: 6.25rem;
  height: 6.25rem;
  position: relative;

  border: solid var(--secondary-0) thin;
  border-radius: 3.125rem;
}

.photo__container > img {
  border-radius: 3.125rem;
}

.remove__photo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.75rem;
  height: 1.75rem;
  position: absolute;
  bottom: -4px;
  right: -4px;

  background-color: var(--secondary-50);
  padding: 0;
  border: solid var(--primary-850) 2px;
  border-radius: 100%;
}
